:root {
  --blue: #003580;
}

.navbar {
  height: 60px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
}

.navButton {
  color: var(--blue);
  padding: 10px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}
